#details{ 
    position: relative;
    width: 100%;
    color: white;
    min-height: 100vh;
    background-color: rgb(23,23,23);    
    #movie-poster{
        width: 80%;
        height: 84vh;
        position: absolute;        
        right: 0;
        top: 0;
    }

    padding-left: 4rem;
    #top{
        position: relative;                
        width: 38rem;
        height: 89vh;        
        display: flex;
        align-items: center;
        justify-content: center;  
        background: rgb(23,23,23);
        background:linear-gradient(90deg, rgb(23,23,23) 0%,rgb(23,23,23) 48% ,rgba(0, 0, 0, 0) 100%) ;
        #movie-detail{                            
            height: inherit;            
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            font-family: 'Montserrat';
            #movie-logo{
                width: 15rem;
                height: 8rem;
                margin-bottom: 3rem;
            }
            .middle{
                margin-bottom: 1rem;
                #adult-checker{
                    border: 1px solid rgb(171, 170, 170);
                    padding: 0rem 0.4rem;
                }
            }
            #movie-title{
                font-size: 1.5rem;
                font-weight: 600;                
            }
            #middle-details{
                font-size: 0.9rem;    
                font-weight: 400;
                letter-spacing: 0.1ch;
                color: rgb(152, 152, 152);            
            }
            #movie-desc{
                font-size: 1.1rem;
                margin-top: 2rem; 
                font-family: sans-serif, monospace;
                line-height: 2.7ch;               
            }
        }
    }

    #join{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        top: 0rem;
        left: 0rem;
        align-items: center;
        height: 4rem;
        width: 96%;
        padding: 0.1rem 1.2rem;
        background-color: #2f2f2f;
        color: white;
        margin-bottom: 2.5rem;
        .left{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 2.1rem;
                height: 2.8rem;
                margin-right: 1rem;
                filter: brightness(132%);
            }
            p{
                font-size: 1rem;
                font-weight: 600;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        }
        button{
            background-color: rgb(232, 5, 5);
            color: white;
            border-radius: 0.2rem;
            border: none;
            width: 7rem;
            height: 2rem;
            font-size: 1rem;
            &:hover{
                background-color: rgb(255, 4, 0);
                cursor: pointer;
            }
            &:active{
                transform: scale(0.9);
            }
        }
    }

    #rule{
        width: 96%;
        margin: 1rem 0rem;
        height: 0.1rem;
        border-bottom: 1px solid rgb(156, 156, 156);
    }

    #trailer{
        font-family: monospace;
        position: relative;
        .top{
            margin-top: 5rem;
            span{
                font-size: 1.8rem;
                color: white;                
                font-weight: 400;
            }
            .title{
                margin-left: 0.3rem;
                padding-left: 1rem;
                font-size: 1.2rem;
                color: rgb(160, 160, 160);
                border-left: 1px solid rgb(131, 131, 131);
            }
        }

        #trailer-row{
            display: flex;               
            align-items: center;            
            position: relative;
            box-sizing: border-box;
            min-height: 20rem;                                          

            #card-container{
                overflow-x: auto;
                padding-bottom: 1rem;                                
                position: relative;                         
                display: flex;
                justify-content: space-between;
                align-items: center;                    
                .trailer-card{
                    padding-right: 1rem;                    
                    a{
                        margin-top: 1.5rem;    
                        position: relative;      
                        display: flex;  
                        justify-content: flex-start;
                        align-items: center;
                        .trailer-image{                
                            width: 39rem;
                            height: 21rem;            
                        }
                        #play-container{
                            position: absolute;
                            top: 0rem;
                            left: 0rem;
                            width: 39rem;
                            height: 21rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            font-size: 2rem;
                            color: wheat;
                            background-color: rgba(0, 0, 0, 0.266);
                            #play-icon{
                                border: 1px solid white;
                                font-size: 1rem; 
                                padding: 0.8rem;
                                height: 4rem;
                                width: 4rem;
                                border-radius: 50%;
                                background-color: white;
                                color: rgb(35, 35, 35);                                          
                            }
                        }
                    }                
                } 
                #not-found{
                    #not-found-image{
                        width: 30rem;
                    }  
                    div{
                        padding: 1rem 0rem;
                        font-size: 2rem;
                    }            
                }
                &::-webkit-scrollbar{
                    display: none;  
                }
            }

        }
        .bottom{
            margin-top: 0.8rem;
            font-size: 1rem;
            // margin-bottom: 3rem;
        }
    }
}

@media only screen and (max-width: 1010px) and (min-width: 800px) {    
    #details{
        #movie-poster{
            width: 86%;
            height: 66vh; 
        }
        #top{
            width: 30rem;
            height: 70vh;
        }
    }
}
@media only screen and (max-width: 800px) and (min-width: 580px) {    
    #details{
        padding: 0;        
        #movie-poster{
            width: 100%;
            height: 68vh; 
        }
        #top{
            padding-left: 3rem;
            width: 30rem;
            height: 70vh;
        }
        #rule,#join,#trailer{
            padding-left: 3rem;
        }
        #join{
            left: 3rem;
            width: 92%;
        }
        #rule{
            margin-left: 3rem;
            width: 92%;
        }
    }
}
@media only screen and (max-width: 580px) {    
    #details{
        padding-left: 0rem;
        #movie-poster{
            width: 100%;
            height: 38vh; 
            object-fit: cover;
        }

        #top{
            width: 100%;
            height: 78vh;
            background: linear-gradient(0deg, rgb(23, 23, 23) 0%, rgb(0 ,0, 0) 51%,rgba(0 ,0 ,0,0) 62%, rgba(0, 0, 0, 0) 100%);          
            padding-left: 1rem;
            #movie-detail{
                height: auto;
                position: absolute;
                bottom: 0;
                left: 0;                
                padding: 0rem 2rem; 
                align-items: center;               
                #movie-logo{
                    width: 18rem;
                    height: 10rem;
                    object-fit: contain;
                }
                #movie-title{
                    font-size: 1.8rem;
                }
                #middle-details{
                    font-size: 1.2rem;
                }
                #movie-desc{
                    font-size: 1.5rem;
                }
            }
        }       

        #join{
            left: 1.3rem;
            width: 94%;
            padding: 0.4rem 1.2rem;
            height: 4rem;
            .left{
                p{
                    font-size: 1.6rem;
                    font-weight: 500;
                }
            }
            button{
                font-size: 1.3rem;   
                width: 9rem;
                height: 2.7rem;
            }
        }

        #rule{
            margin-left: 1.3rem;
            width: 94%;
        }
        
        #trailer{
            padding-left: 1.3rem;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            .top{
                margin-bottom: 2rem;
                .title{
                    font-size: 1.5rem;
                }
            }
            #trailer-row{
                // border: 2px solid rgb(153, 54, 51);
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                #card-container{                    
                    // border: 2px solid rgb(5, 55, 255);
                    .trailer-card{
                        // border: 2px solid rgb(181, 193, 9);
                        margin-right: 1rem;
                        a{
                            // margin-left: 2rem;
                            .trailer-image{
                                width: 30rem;
                                height: 17rem;                
                            }
                            #play-container{
                                width: 31.5rem;
                                height: 18rem;                
                                #play-icon{                
                                    height: 4rem;
                                    width: 4rem;
                                    font-size: 1rem;
                                    padding: 0.5rem;                
                                }
                                background-color: rgba(23, 23, 23, 0.218);
                            }
                        }
                    }
                }
            }
            .bottom{
                font-size: 1.4rem;
            }
        }

    }
}

@media only screen and (min-width: 450px) and (max-width: 580px) {
    #details{
        #trailer{
            #play-icon{
                left: 16rem;
            }
            .top{
                .title{
                    font-size: 1.5rem;
                }
            }
        }
    }
}